<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tws.repository.PackageMapper">
   

    <insert id="insert" parameterType="tws.entity.PackageInfo">
       insert into package (`number`,`name`,`phone`,`weight`,`status`) values(#{onePackage.number},#{onePackage.name},#{onePackage.phone},#{onePackage.weight},#{onePackage.status});
    </insert>
    
    <insert id="update" parameterType="tws.entity.PackageInfo">
       update package status=#{onePackage.status},bookingTime=#{onePackage.bookingTime} where number=#{onePackage.number};
    </insert>
    
</mapper>
